* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    flex: 0 0 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(31, 46, 5);
}
.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
    

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 200%;
}
.nav-item {
    flex: 1;
    list-style: none; 
}

.tabs {
    overflow-x: hidden;
    overflow-y: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.active {
    background-image: url("../images/bgimg.jfif");
}

.content {
    background-image: url("../images/bgimg.jfif");
    color: rgb(63, 53, 6);
    flex: 4;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#home {
    font-size: 300%;
}

#profile {
    width: 20%;
    height: 60%;
}

dt {
    color:rgb(63, 53, 6);
    font-size: 400%;
}
dd {
    color: white;
    font-size: 200%;
}
.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    background-image: url("../images/bgimg.jfif");
}

